@using Microsoft.AspNet.Identity
@using Blog_GreenFluffyBites.Models;
@using System.Data.Entity;
@model List<Blog_GreenFluffyBites.Models.Article>
@{
    ViewBag.Title = "Profile";
}



<div class="container">
    <div class="coll-md-4">
        <div class="container" style="padding-top:50px">
            <div class="well">
                @using (var database = new BlogDBContext())
                {
                    var author = database.Users.Where(u => u.UserName == this.User.Identity.Name).First();

                    <p>@author.FullName</p>
                    var articles = database.Articles.Include(a => a.Author).Where(a => a.Author.Id == author.Id).ToList();

                    int totalArticles = 0;
                    int totalScore = 0;
                    foreach (var article in articles)
                    {
                        totalScore += article.Score;
                        totalArticles++;
                    }

                    <p>@author.Email</p>
                    <p>Total Score: @totalScore</p>
                    <p>Total Articles: @totalArticles</p>
                }
            </div>
        </div>
    </div>
    <div class="coll-md-8">
        <div class="row">
            @foreach (var article in Model)
            {
                <div class="col-sm-4">
                    <article>
                        <header>
                            <h2>
                                @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                            </h2>
                        </header>
                        <p>
                            @article.Content
                        </p>
                        <footer class="pull-right">
                            <small class="author">
                                --author @article.Author.FullName
                            </small>
                        </footer>
                    </article>
                </div>
            }
        </div>
    </div>
</div>
<hr />

