@model Blog_GreenFluffyBites.Models.Article
@using Blog_GreenFluffyBites.Models;
@using System.Linq;
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <div class="row" style="padding-top:20px">
            <div class="col-sm-4">
                <header>
                    <h2>
                        @Model.Title
                    </h2>
                </header>
                <p>
                    @Model.Content
                </p>
            </div>
            <div class="col-sm-4">
                @if (Model.ImagePath != null)
                {
                    <img src="@Model.ImagePath" alt="Article Imgae" width="256px" />
                }
            </div>
        </div>
        <small class="author">
            --author @Model.Author.FullName
        </small>
        <div class="row">
            <div class="pull-left">
                @*@Html.ActionLink("Like", "Article", "LikeArticle", new { sortOrder = ViewBag.ScoreSortParm })*@
                @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LikeArticle", "Article", new { @id = Model.Id }, FormMethod.Post))
                {
                        <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-thumbs-up thumbs-up"></span> </button>
                    }
                }
                @using (var database = new BlogDBContext())
            {
                var url = Request.Url.ToString().Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries);
                var ArticleID = Convert.ToInt32(url.Last());

                var currentArticle = database.Articles.First(a => a.Id == ArticleID);

                    <p>Score: @currentArticle.Score</p>
                }
            </div>
        </div>
        <footer>
            <div class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }

            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
            </div>
        </footer>
    </article>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-sm-3">
                <h2 class="blueHeading">Comment here:</h2>
            </div>
            <div class="col-sm-7">
                @using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Comments", OnFailure = "commentPostFailure" }))
                {
                    @Html.Hidden("ArticleId", Model.Id)
                    @Html.TextArea("Content", "")
                    @Html.AntiForgeryToken()
                    <div class="col-sm-offset-5"><input type="submit" value="Comment" class="btn btn-default commentButton text-center" /></div>
                }
            </div>
        </div>
    }
    <!-- Comments -->
    <div class="row">
        <div class="col-sm-3">
        </div>
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_CommentPartial", comment)
        }
    </div>
</div>
<hr />